In [1]:
import pandas as pd

In [2]:
model = pd.read_pickle('HousePricePredictor')

In [3]:
model

LinearRegression()

In [4]:
cols = ['Avg. Area Income','Avg. Area House Age','Avg. Area Number of rooms','Area Population']

In [5]:
income = eval(input('Enter the income:'))
house_age = eval(input('Enter the house age:'))
rooms = eval(input('Enter the number of rooms:'))
population = eval(input('Enter the population:'))
query = pd.DataFrame({'Avg. Area Income':[income],
                     'Avg. Area House Age':[house_age],
                     'Avg. Area Number of Rooms':[rooms],
                     'Area Population':[population]})

Enter the income: 200000000
Enter the house age: 50
Enter the number of rooms: 45
Enter the population: 25

In [6]:
query

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Area Population
0,200000000,50,45,25

In [7]:
model.predict(query)[0]

4329435106.878414

In [8]:
print('Price for the house can be: %.2f$'%(model.predict(query)[0]))

Price for the house can be: 4329435106.88$